@import '../../../../assets/styles/var.scss';

nav a {
    margin-right: 0.8em;
}

nav a.active{
    background-color: $white;
    color: $indigo;
}

// button{
//     margin-left: auto;
// }

mat-toolbar-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
}