<mat-toolbar color="primary">
    <mat-toolbar-row>
        <nav>
            <a mat-button routerLink="/home" routerLinkActive="active">
                Home
            </a>
            <a mat-button routerLink="/products" routerLinkActive="active">
                Productos
            </a>
            <a mat-button routerLink="/contact" routerLinkActive="active">
                Contacto
            </a>
        </nav>
        <button mat-raised-button [matBadge]="total$ | async" matBadgeColor="accent" routerLink="/order">
            Carrito
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>