/* You can add global styles to this file, and also import other style files */
@import './assets/styles/normalize.css';
@import './assets/styles/var.scss';

.product__grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}