
$white: #ffffff;
$gray: #f3f3f3;
$grayBlack: #575757;
$greenLow: #38C7A1;
$greenDark: #299478;
$indigo: #3f51b5;

$shadow: 0 3px 10px rgba(172, 13, 13, 0.16);
$transition: 0.3s;


// responsive points
$point-s: 576px;
$point-m: 768px;
$point-l: 992px;
$point-xl: 1200px;