@import '../../../../../assets/styles/var.scss';

:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc( 100% - 2.1em );
    border: solid 1px $gray;
    border-radius: 0.5em;
    margin: 0.15em;
    padding: 0.8em;
}

img{
    width: auto;
    max-width: 100%;
    max-height: 270px;
}

h4{
    margin-top: auto;
}


@media ( min-width: $point-m ){
    :host{
        width: calc( 25% - 2.1em );
    }
}

@media ( min-width: $point-s ) and ( max-width: $point-m ) {
    :host{
        width: calc( 33% - 2.1em );
    }
}


