@import '../../../../../assets/styles/var.scss';

:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc( 100% - 0.3em );
    margin: 0.15em;
}

.crop__image{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
}


button{
    width: 100%;
    margin-top: 0.5em !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

@media ( min-width: $point-m ){
    :host{
        width: calc( 25% - 0.3em );
    }
}

@media ( min-width: $point-s ) and ( max-width: $point-m ) {
    :host{
        width: calc( 33% - 0.3em );
    }
}


