@import '../../../../assets/styles/var.scss';


footer {
  padding: 50px 1em;
  margin-top: 20px;
  background-color: $indigo;
  .box {
    h3 {
      color: $white;
    }
    input{
      color: $white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        margin: 10px 0px;
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}

