$shadow: rgba(0, 0, 0, 0.2);
$azul-cielo: #81FFE7;
$cafe: #544A27;
$beige: #FFE58F;
$gray: #E8FFE6;


:host{
    margin: 2px;
    border-radius: 5px;
    display: block;
    border: none;
    box-shadow: 0 0 6px 1px $shadow; 
    padding: 1em;
    transition: 0.3s;
    img{
        max-width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    button{
        border: none;
        border-radius: 3px;
        background-color: $azul-cielo;
        color: $cafe;
        padding: 0.4em 0.8em;
        transition: 0.3s;
        cursor: pointer;
        outline: none;
        width: 100%;
        font-size: 1em;
    }
    button:hover{
        background-color: $beige;
        transition: 0.3s;
    }
    h3{
        text-align: center;
        font-size: 2em;
        font-weight: 400;
        margin: 5px 0;
    }
    p{
        text-align: center;
        font-size: 1.3em;
        margin: 5px 0;
    }
    hr{
        border: 1px solid $gray;
        margin-left: -1em;
        width: calc(100% + 2em);
    }
}

:host:hover{
    box-shadow: 0 0 6px 4px $shadow; 
    transition: 0.3s;
}





