<router-outlet></router-outlet>


<input type="text" [(ngModel)]="title" >
<br>
  {{ title }}
<br>
<br>
<input type="text" [(ngModel)]="power" >
<br>
  {{ power | exponential }}
<br>
<br>

<div *ngIf="title === 'Yeison'">
  Hola Yeison
</div>

<div *ngIf="title === 'Julian'">
  Hola Julian
</div>

<div *ngIf="title === 'Camilo'">
  Hola Camilo
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'Yeison'">
    Hola Yeison
  </p>
  <p *ngSwitchCase="'Julian'">
    Hola Julian
  </p>
  <p *ngSwitchCase="'Camilo'">
    Hola Camilo
  </p>
  <p *ngSwitchDefault>
    no hay match
  </p>

</div>

<input type="text" [(ngModel)]="nameUser">
<button (click)="addItem(nameUser)">
  add item
</button>

<ul>
  <li *ngIf="items.length === 0">
    La lista está vacía
  </li>
  <li *ngFor="let name of items; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)"> 
      Delete 
    </button>
  </li>
</ul>


<div class="product-grid">
  <app-product 
    (clickAddCart)="clickProduct($event)" 
    [product]="product" 
    *ngFor="let product of products">
  </app-product>
</div>

